force-app/main/default/flows/CreateConsentTransaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Creates the Pricebook2 Collection from the screen choices via this Invocable Method.</description>
        <name>CreatePricebook2Collection</name>
        <label>CreatePricebook2Collection</label>
        <locationX>248</locationX>
        <locationY>1094</locationY>
        <actionName>CreateConsentTransactionInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>HaveEventInterests</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputStrings</name>
            <value>
                <elementReference>SelectedEventInterestsTEXT</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddToCollection</name>
        <label>Add To Collection</label>
        <locationX>270</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>newCTCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newCT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuildEventInterestCTRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns user&apos;s selection to a string we can use to parse for record values.</description>
        <name>AssignChoicesToString</name>
        <label>AssignChoicesToString</label>
        <locationX>248</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>SelectedEventInterestsTEXT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectEventInterests</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreatePricebook2Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContactIdProgramOptin</name>
        <label>Assign Contact Id</label>
        <locationX>578</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>newCT.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPersonContactId.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewCTProgramOptin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCTContactIdLoop</name>
        <label>Assign CT Contact Id</label>
        <locationX>402</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>newCT.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPersonContactId.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCTContactIdUnsubscribe</name>
        <label>Assign CT Contact Id</label>
        <locationX>1106</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>newCT.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPersonContactId.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCTUnsubscribe</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCTLeadIdLoop</name>
        <label>Assign CT Lead Id</label>
        <locationX>138</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>newCT.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCTLeadIdUnsubscribe</name>
        <label>Assign CT Lead Id</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>newCT.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCTUnsubscribe</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCTValues</name>
        <label>Assign CT Values</label>
        <locationX>270</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>newCT.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CTSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCT.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CTType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCT.EventInterest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildEventInterestCTRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCT.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsLeadLoopDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLeaddToCTProgramOptin</name>
        <label>Assign Lead Id to CT</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>newCT.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewCTProgramOptin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearNewCT</name>
        <label>Clear New CT</label>
        <locationX>270</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>newCT.Contact__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCT.Lead__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCT.Source__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCT.Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCT.EventInterest__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCT.Program__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AssignCTValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets IsLead to True</description>
        <name>IsLeadTrue</name>
        <label>IsLeadTrue</label>
        <locationX>479</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>IsLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCTScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetProgramOptInCT</name>
        <label>Set Program OptIn CT</label>
        <locationX>446</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>newCT.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CTSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCT.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CTType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCT.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsLeadProgramOptinDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Unsubscribe CT values to new record.</description>
        <name>SetUnsubscribeCTValues</name>
        <label>Set Unsubscribe CT Values</label>
        <locationX>974</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>newCT.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CTSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCT.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CTType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCT.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsLeadDecisionUnsubscribe</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If we have event interests, we can process record(s) for these, else we just do the program one.</description>
        <name>HaveEventInterests</name>
        <label>Have Event Interests</label>
        <locationX>248</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>SetProgramOptInCT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Event Interests</defaultConnectorLabel>
        <rules>
            <name>HasEventInterests</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatePricebook2Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuildEventInterestCTRecords</targetReference>
            </connector>
            <label>Has Event Interests</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLeadDecisionUnsubscribe</name>
        <label>Is Lead?</label>
        <locationX>974</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>AssignCTContactIdUnsubscribe</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Contact</defaultConnectorLabel>
        <rules>
            <name>IsLeadUnsubscribe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsLead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCTLeadIdUnsubscribe</targetReference>
            </connector>
            <label>Is Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLeadLoopDecision</name>
        <label>Is Lead?</label>
        <locationX>270</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>AssignCTContactIdLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Contact</defaultConnectorLabel>
        <rules>
            <name>IsLeadLoop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsLead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCTLeadIdLoop</targetReference>
            </connector>
            <label>Is Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLeadProgramOptinDecision</name>
        <label>Is Lead?</label>
        <locationX>446</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>AssignContactIdProgramOptin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Contact</defaultConnectorLabel>
        <rules>
            <name>IsLeadProgramOptin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsLead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLeaddToCTProgramOptin</targetReference>
            </connector>
            <label>Is Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if we have a Lead or Contact Id to assign.</description>
        <name>LeadOrContactId</name>
        <label>LeadOrContactId</label>
        <locationX>611</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>getPersonContactId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasLeadId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsLeadTrue</targetReference>
            </connector>
            <label>Has Lead Id</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision Routes based on the Type choice in the previous screen.</description>
        <name>TypeChoice</name>
        <label>TypeChoice</label>
        <locationX>611</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>SetUnsubscribeCTValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unsubscribe</defaultConnectorLabel>
        <rules>
            <name>OptInSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CTType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opt-In</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetActivePricebooksForProgram</targetReference>
            </connector>
            <label>Opt-In Selected</label>
        </rules>
    </decisions>
    <description>Enables users to create Consent Transactions from either Leads or Person Accounts.</description>
    <dynamicChoiceSets>
        <description>Values from Source__c on ConsentTransaction__c.</description>
        <name>CTSourcePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Source__c</picklistField>
        <picklistObject>ConsentTransaction__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Type__c values on ConsentTransaction__c</description>
        <name>CTTypeValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>ConsentTransaction__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Indicates event interest choices from Pricebook records retrieved previously.</description>
        <name>EventInterestChoices</name>
        <collectionReference>GetActivePricebooksForProgram</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Pricebook2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create Consent Transaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Consent Transaction</label>
    <loops>
        <name>BuildEventInterestCTRecords</name>
        <label>Build Event Interest CT Records</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <collectionReference>CreatePricebook2Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ClearNewCT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateNewCTs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCTUnsubscribe</name>
        <label>Create CT Unsubscribe</label>
        <locationX>974</locationX>
        <locationY>1190</locationY>
        <inputReference>newCT</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateNewCTProgramOptin</name>
        <label>Create New CT</label>
        <locationX>446</locationX>
        <locationY>1790</locationY>
        <inputReference>newCT</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateNewCTs</name>
        <label>Create New CTs</label>
        <locationX>50</locationX>
        <locationY>2246</locationY>
        <inputReference>newCTCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets the Active Pricebooks for the Program selected in the previous screen.</description>
        <name>GetActivePricebooksForProgram</name>
        <label>GetActivePricebooksForProgram</label>
        <locationX>248</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectEventInterestsScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Program.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricebook2</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the PersonContactId for the PersonAccount that initiated the flow.</description>
        <name>getPersonContactId</name>
        <label>getPersonContactId</label>
        <locationX>743</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateCTScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CreateCTScreen</name>
        <label>CreateCTScreen</label>
        <locationX>611</locationX>
        <locationY>494</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TypeChoice</targetReference>
        </connector>
        <fields>
            <name>CreateCTScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreateCTScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CTSource</name>
                    <choiceReferences>CTSourcePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Agent</stringValue>
                    </defaultValue>
                    <fieldText>Select the Source for this Consent Transaction</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CreateCTScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CTType</name>
                    <choiceReferences>CTTypeValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Unsubscribe</stringValue>
                    </defaultValue>
                    <fieldText>Select Type of Consent Transaction</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CreateCTScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreateCTScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Program</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ConsentTransaction__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Program__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Program</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen for selecting event interests.</description>
        <name>SelectEventInterestsScreen</name>
        <label>Select Event Interests Screen</label>
        <locationX>248</locationX>
        <locationY>854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignChoicesToString</targetReference>
        </connector>
        <fields>
            <name>SelectEventInterests</name>
            <choiceReferences>EventInterestChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Event Interests</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>&lt;p&gt;Check as many Event Interests here to indicate the person&apos;s interests for marketing and related communications. &lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LeadOrContactId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Tells if the person who entered this flow is a Lead or not, used for several decision points to create records.</description>
        <name>IsLead</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>New Consent Transaction Record.</description>
        <name>newCT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsentTransaction__c</objectType>
    </variables>
    <variables>
        <name>newCTCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsentTransaction__c</objectType>
    </variables>
    <variables>
        <description>Takes the input record Id from the source record.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Text value storing the data selected by the user in the screen.</description>
        <name>SelectedEventInterestsTEXT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
