force-app/main/default/flows/Post_to_Chatter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>con_Product_Inventory_Added</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Inventory Added</stringValue>
        </value>
    </constants>
    <constants>
        <name>con_Product_Sold_Out</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Sold Out</stringValue>
        </value>
    </constants>
    <decisions>
        <name>d_Post_Type</name>
        <label>Post Type</label>
        <locationX>249</locationX>
        <locationY>49</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>oc_Product_Sold_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PostType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>con_Product_Sold_Out</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rc_Product_Sold_Out</targetReference>
            </connector>
            <label>Product Sold Out</label>
        </rules>
        <rules>
            <name>oc_Product_Inventory_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PostType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>con_Product_Inventory_Added</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rc_Product_Inventory_Added</targetReference>
            </connector>
            <label>Product Inventory Added</label>
        </rules>
    </decisions>
    <interviewLabel>Post to Chatter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post to Chatter</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>rc_Product_Inventory_Added</name>
        <label>Product Inventory Added</label>
        <locationX>357</locationX>
        <locationY>205</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>tt_ProductInventoryAdded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <elementReference>var_EventManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRichText</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>var_ProductId</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordCreates>
        <name>rc_Product_Sold_Out</name>
        <label>Product Sold Out</label>
        <locationX>83</locationX>
        <locationY>204</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>tt_ProductSoldOut</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <elementReference>var_EventManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRichText</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>var_ProductId</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <startElementReference>d_Post_Type</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>tt_ProductInventoryAdded</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;P&gt;&lt;B&gt;Inventory Added&lt;/B&gt;&lt;/P&gt;
&lt;P&gt;Product Name: {!var_ProductName}&lt;/P&gt;
&lt;P&gt;Inventory: {!var_ProductCurrentInventory}&lt;/P&gt;
&lt;P&gt;Event: #[{!var_EventName}]&lt;/P&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_ProductSoldOut</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;P&gt;&lt;B&gt;Sold Out&lt;/B&gt;&lt;/P&gt;
&lt;P&gt;Product Name: {!var_ProductName}&lt;/P&gt;
&lt;P&gt;Event: #[{!var_EventName}]&lt;/P&gt;</text>
    </textTemplates>
    <variables>
        <name>var_EventManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_EventName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_PostType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_ProductCurrentInventory</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_ProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_ProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
